@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    color: #bdbdbd;
    box-sizing: border-box;
    text-align: justify;
    text-justify: auto;
}

/* First box */
.bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-image: url('./media/city.jpg');
}

.first-box {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-box-content {
    padding: 10px 60px;
    border-radius: 8px;
    letter-spacing: 4px;
    color:rgb(226, 226, 226);
    background-color: rgb(6, 6, 6);
}

/* Second box */
.about-me {
    max-width: 110vh;
    margin: auto;
    border: 15px;
    padding: 50px 15px 0 15px;
    font-size: 15px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-hobby {
    max-width: 110vh;
    margin: auto;
    padding: 10px 15px 30px 15px;
    font-size: 15px;
    line-height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.rain-of-colors{
    text-align: center; 
    font-size: 95%; 
    margin-top: 10px;
}

.my-hobby-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.hobbyimg {
    border-radius: 8px;
}

 @media (max-width: 800px){ 
    .my-hobby {
        flex-wrap: wrap;
      }
} 

.photography-text {
    padding-bottom: 30px;
}

/* Contact Banner */

.bgimg2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-image: url('./media/contact.jpg');}

.contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.contact-box-content {
    padding: 10px 60px;
    border-radius: 8px;
    letter-spacing: 4px;
    color:rgb(226, 226, 226);
    background-color: rgb(4, 4, 4);
}

/* Third Box */

.discord {
    margin-left: auto;
    margin-right: auto;
    max-width: 110vh;   
    font-size: 15px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px 50px 20px;
    gap: 50px;
}

.discord-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.discord-info {
    font-size: 18px;
}
